.vm-root {
  -fx-padding: 15px 0 15px 15px;
}

.menu-container{
    -fx-background-radius: 15px;
    -fx-padding: 15px;
    -fx-spacing: 15px;
    -fx-background-color: white;
}
.menuh-container{
  -fx-padding: 15px 0;
  -fx-spacing: 15px;
}

.button {
    -fx-background-color: white;
    -fx-padding: 15px 15px 15px 60px;
    -fx-border-width: 1px;
    -fx-border-color: #DCDCDC;
    -fx-border-radius: 0px;
    -fx-background-insets: none;
    -fx-font-size: 16px;
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10%;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}
.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 5, 0, 0, 0);
    -fx-font-weight: bold;
    -fx-background-color: derive(-fx-main, 99%);
}

.logo-parent{
  -fx-background-color: rgba(255, 255, 255, .5);
  -fx-background-radius: 100%;
}

.button.home {
    -fx-background-image: url('../images/home.png');
}
.button.payer {
    -fx-background-image: url('../images/people.png');
}
.button.print {
    -fx-background-image: url('../images/print.png');
}
.button.import {
    -fx-background-image: url('../images/import.png');
}
.button.settings {
    -fx-background-image: url('../images/settings.png');
}
.button.stats {
    -fx-background-image: url('../images/stats.png');
}
.button.home.selected {
    -fx-background-image: url('../images/homep.png');
}
.button.payer.selected {
    -fx-background-image: url('../images/peoplep.png');
}
.button.print.selected {
    -fx-background-image: url('../images/printp.png');
}
.button.import.selected {
    -fx-background-image: url('../images/importp.png');
}
.button.settings.selected {
    -fx-background-image: url('../images/settingsp.png');
}
.button.stats.selected {
    -fx-background-image: url('../images/statsp.png');
}

.selected {
    -fx-background-color: -fx-main;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
}
.button.selected:hover{
    -fx-background-color: -fx-darker;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
}


.menu-button .context-menu {
    -fx-background-color: #fff;
    -fx-pref-width: 140px;
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-translate-y: 10px;
    -fx-border-width: 0px;
}
.menu-button .context-menu .menu-item{
    -fx-padding: 10px 10px 10px 10px;
}
.menu-button .context-menu .menu-item:hover, .menu-button .context-menu .menu-item:focused{
  -fx-background-color: #0A9396;
}

.menu-button .context-menu .menu-item:hover .label, .menu-button .context-menu .menu-item:focused{
  -fx-text-fill: #fff;
}


.menu-button .arrow-button .arrow {
     -fx-background-color: transparent;
     -fx-opacity: 0.0;
}

.menu-button .arrow-button{
  -fx-pref-width: 25px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
}

.year-menu {
  -fx-font-size: 19px;
  -fx-background-color: #ffffff;
  -fx-background-radius: 0px;
  -fx-min-height: 52px;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
    -fx-border-width: 0px;
}

.year-menu .arrow-button{
  -fx-translate-x: -22px;
  -fx-pref-width: 24px;
  -fx-background-image: url("../images/year2.png");
}
.year-menu .context-menu{
  -fx-min-width: 230px;
}
.year-menu .context-menu .menu-item{
  -fx-font-size: 15px;
  -fx-padding: 5px 10px 5px 10px;
}

.image{
  -fx-border-width: 10px;
  -fx-border-color: #fff;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,.95), 2, .5, 0, 1);
}