/**
* Activity-tracker components style
* By JerryHarim
*/

/* label */
.label {
    -fx-text-fill: #8d8d8d;
    -fx-wrap-text: true;
}
.emphase-light {
    -fx-text-fill: #c5c5c5;
    -fx-font-weight: bold;
}

.emphase-dark {
    -fx-text-fill: #343434;
    -fx-font-weight: bold;
}

/* logo */
.logo-first-block {
    -fx-text-fill: #f5f5f5;
    -fx-font-weight: bold;
}
.logo-last-block {
    -fx-text-fill: #14e4be;
    -fx-font-weight: bold;
}

/* Button */

.primary-button {
    -fx-background-color:  linear-gradient(#0c8e72, #0b8652);
    -fx-text-fill:  #f5f5f5;
    -fx-background-radius: 5px;
}

.button-secondary {
    -fx-background-color: #dfdfdf;
}

.transparent-button {
    -fx-background-color: none;
    -fx-text-fill:  #c5c5c5;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 0;
}

.close-button {
    -fx-background-color: #f92525;
    -fx-background-radius: 50%;
    -fx-padding: 0;
}

.close-button:hover {
    -fx-background-color: #FAA0A0;
    -fx-border-width: 2px;
    -fx-border-radius: 50%;
    -fx-border-color: #f92525;
}

.minimize-window, .maximize-window {
    -fx-background-color:  #bbb;
    -fx-background-radius: 50%;
    -fx-padding: 0;
}

.minimize-window:hover, .maximize-window:hover {
    -fx-background-color: #ccc;
    -fx-border-color: #aaa;
    -fx-border-width: 2px;
    -fx-border-radius: 50%;
}


/* tags */
.tag {
    -fx-text-fill:  #8d8d8d;
    -fx-background-color: #3c3c3c;
    -fx-background-radius: 100px;
    -fx-padding: 1 8 1 8;
}

/* box */
.main-box {
    -fx-background-color: #FCFCFC;
    -fx-background-radius: 10px;
}

.item-box {
    -fx-background-color: #2c2c2c;
    -fx-background-radius: 10px;
}

/* POPUP */

/* label */
.popup .label {
    -fx-text-fill: #161616;
}

/* textfield */

.popup .text-field {
    -fx-background-color: #c5c5c5;
    -fx-border-color: #e5e5e5;
}

.popup .emphase {
    -fx-text-fill: #252525;
    -fx-font-weight: bold;
}

/* date picker */

.popup .date-picker .stack-pane,
.popup .date-picker .arrow-button
{
    -fx-background-color: transparent;
}

.popup .date-picker {
    -fx-background-insets: 0;
    -fx-background-color: #e5e5e5;
}

.popup .tag {
    -fx-background-color: #c6c6c6;
    -fx-background-radius: 20px;
    -fx-padding: 2px 4px 2px 4px;
    -fx-font-size: 11px;
}


/* ******************
* NEW STYLE FOR NEW ITEM
*********************/
