/* window */
.window-header-container {
    -fx-padding: 0 10px 0 10px;
    -fx-spacing: 100px;
}
.window-header-right-container {
    -fx-spacing: 40px;
}

/* menu */
.menu-container {
    -fx-spacing: 20px;
}

.item-box-container {
    -fx-padding: 8 22 8 22;
    -fx-spacing: 16px;
}

.main-container {
    -fx-padding: 16 8 16 8;
    -fx-spacing: 12;
}

.tag-spacing {
    -fx-spacing: 8;
}


.main-container-padding {
    -fx-padding: 20px;
}


/* spacing */
.spacing-5  { -fx-spacing: 5px; }
.spacing-10 { -fx-spacing: 10px; }
.spacing-15 { -fx-spacing: 15px; }
.spacing-20 { -fx-spacing: 20px; }
.spacing-40 { -fx-spacing: 40px; }
