.project
.settings/
core/bin/
core/build/
components/window/build/
components/product_item/build/
components/product_item/bin/
components/window/bin/
components/base/bin/
components/base/build/
.gradle/
components/window/.classpath
components/window/.project
components/.classpath
components/.project
components/window/.project
components/window/.classpath
core/.classpath
core/.project
components/base/.classpath
components/base/.project
components/product_item/.classpath
