.label {
	-fx-text-fill: #161616;
}

.emphase {
	-fx-font-weight: bold;
}

.title {
    -fx-font-size: 1.3em;
	-fx-font-weight: bold;
	-fx-text-fill: #161616;
}

.title-with-background {
	-fx-background-color: rgba(0,0,0,0.2);
	-fx-background-radius: 5px;
	-fx-padding: 2px 6px;
	-fx-font-weight: bold;
}
