@font-face {
    font-family: lato;
    src: url('../fonts/lato/Lato-Bold.ttf');
}

.root {
    -fx-spacing: 6px;
}

.textfield-box {
	-fx-spacing: 6px; /* tiny */
}

.textfield-box .label {
    -fx-font-family: 'lato';
	-fx-font-weight: bold;
}

.textfield-box .text-field {
    -fx-background-insets: transparent;
    -fx-background-color: transparent;
    -fx-border-color: #D6D6D6;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;

    -fx-padding: 0 12px 0 12px;
    -fx-pref-height: 36px;
}
