.table-view {
    -fx-background-color: #f5f5f5;
    -fx-background-insets: none;
    -fx-background-radius: 4px;
    -fx-border-width: 0;
    -fx-padding: 20px 0 0 0;
    -fx-effect: dropshadow(gaussian, #cecece, 20,0,0,0);
}

.table-view .label {
    -fx-text-fill: black;
}

.table-view .column-header-background {
    -fx-background-color: #ededed;
    -fx-border-color: #e3e3e3;
    -fx-border-width: 1px 0 1px 0;
    -fx-padding: 10px;
}

.table-view .filler,
.table-view .nested-column-header, 
.table-view .column-header {
     -fx-background-color: transparent;
}


.table-view *.column-header .label {
    -fx-font-weight: normal;
    -fx-text-fill: #6D6D6D;
}

.table-view .column-resize-line {
    -fx-background-color: red;
}

.table-view .place-holder {
    -fx-background-color: transparent;
}

/* rows */

.table-view .table-row-cell {
    -fx-background-color: #fafbff;
} 
