@font-face {
    font-family: lato;
    src: url('../fonts/lato/Lato-Bold.ttf');
}

.root {
    -fx-spacing: 6px;
}

.text {
    -fx-font-family: 'lato';
}

.date-picker {
	-fx-background-color: transparent;
	-fx-background-insents: 0;
    -fx-border-color: rgba(29, 28, 29, 0.5);
    -fx-border-width: 1px;
	-fx-border-radius: 5px;
    -fx-pref-height: 36px;
    -fx-padding: 0 12px 0 12px;
}
