.main_container {
	-fx-background-color: white; 
	-fx-border-radius: 5px; 
	-fx-min-width: 300px;
	-fx-pref-width: 300px;
	-fx-max-width: 300px;
}

.main {
	-fx-background-color: white;
	-fx-background-radius: 5px;
}

/* BOX */
/* regular-box */
.medium-regular-box { -fx-padding: 18px; }
.large-box  { -fx-padding: 30px; }

.large-vbox-container { -fx-spacing: 30; -fx-padding: 24px 18px 24px 18; }

/* styled box */
.medium-border-box {
	-fx-border-color: #d6d6d6;
	-fx-padding: 18px;
}

/* Spacing */
.tiny-spacing 		{ -fx-spacing: 6px;  }
.small-spacing 		{ -fx-spacing: 12px; }
.medium-spacing 	{ -fx-spacing: 18px; }
.large-spacing 		{ -fx-spacing: 24px; }
.huge-spacing 		{ -fx-spacing: 30px; }
.veryhuge-spacing 	{ -fx-spacing: 36px; }

.tiny-vertical-spacing { -fx-spacing: 6px; }
.tiny-hbox-container { -fx-spacing: 6px; -fx-padding: 0; }
.medium-hbox-container { -fx-spacing: 24px; -fx-padding: 0; }
.large-hbox-container { -fx-spacing: 30px; -fx-padding: 0; }


