@font-face {
    font-family: lato;
    src: url('../fonts/lato/Lato-Bold.ttf');
}

.root {
    -fx-spacing: 6px;
}

.dropdown-label {
    -fx-font-family: 'lato';
	-fx-font-weight: bold;
}

.combo-box {
	-fx-background-color: #FAFAFA;
	-fx-background-radius: 5px;
	-fx-background-insets: 0px;
    -fx-min-height: 36px;
    -fx-pref-height: 36px;
    -fx-max-height: 36px;

	-fx-border-color: #D6D6D6;
	-fx-border-width: 1px;
	-fx-border-radius: 5px;
}
